{{>partials/header}}

<div class="container">

  <div class="text-center mx-auto header-block">
    <h1 class="h6 mb-3">VENDE TU TIEMPO</h1>
    <h2 class="h1 ">Saca partido a tu tiempo libre</h2>
    <p>Convierte tu tiempo en un ingreso extra vendiéndolo a través de nuestra plataforma, optimiza cada minuto para ganar
      más.</p>
    <a class="btn btn-custom mb-5">¡Vende ya!</a>
  </div>

  <div class="d-flex justify-content-center align-items-center py-3">
    <div class="header-image"></div>
  </div>

  <div class="py-5">
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-last pt-5 my-lg-auto">
        <h2 class="mb-4 border-green-detail">Descubre la historia detrás de Sellyourtime, una
          plataforma que transforma tu tiempo en una oportunidad de
          negocio.</h2>
        <p class="mb-4">Sellyourtime es una red social innovadora que te permite monetizar tu tiempo libre, conectando a
          personas que
          desean comprar o vender horas de ocio.</p>
        <a class="btn btn-custom">¡Leer más!</a>
      </div>
      <div class="col-12 col-lg-6 pt-5 d-flex justify-content-around align-items-start">
        <div class="content-image content-image--primary"></div>
        <div class="content-image content-image--secondary"></div>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div
      class="rounded-5 footer-container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <p class="h2 my-3 border-green-detail">Haz que tu tiempo valga la pena</p>
      <div>
        <a class="btn btn-lg btn-custom">¡Vende ya!</a>
      </div>
    </div>
  </div>

  <div class="py-5">
    <h2 class="text-center pt-5 pb-4">Localiza gente en tu zona</h2>
    <div id="map"></div>
  </div>

</div>

{{>partials/footer}}